@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap");
@import "./sass/variables";

/* Reset Style */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 18px;
  font-family: "Outfit", sans-serif;
  background-color: $main-background-color;

  section {
    margin: 0 auto;
    height: 100vh;
    max-width: 350px;
  }
}
